 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #A27294;
active-foreground: #F7DCDB;
normal-background: #131218;
normal-foreground: #F7DCDB;
urgent-background: #488FBF;
urgent-foreground: #F7DCDB;

alternate-active-background: #6A71AB;
alternate-active-foreground: #F7DCDB;
alternate-normal-background: #131218;
alternate-normal-foreground: #F7DCDB;
alternate-urgent-background: #131218;
alternate-urgent-foreground: #F7DCDB;

selected-active-background: #488FBF;
selected-active-foreground: #F7DCDB;
selected-normal-background: #488FBF;
selected-normal-foreground: #F7DCDB;
selected-urgent-background: #A27294;
selected-urgent-foreground: #F7DCDB;

background-color: #131218;
background: rgba(0,0,0,0.7);
foreground: #F7DCDB;
border-color: #A27294;

color0: #3D3C44;
color1: #414559;
color2: #414559;
color3: #5D638F;
color4: #8F6E86;
color5: #5B86A4;
color6: #AF7572;
color7: #ECC5C3;
color8: #A58A88;
color9: #444863;
color10: #444863;
color11: #6A71AB;
color12: #A27294;
color13: #488FBF;
color14: #E99C98;
color15: #ECC5C3;


}

