 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #BE3B3B;
active-foreground: #FCA8A6;
normal-background: #160E0D;
normal-foreground: #FCA8A6;
urgent-background: #BE3B3B;
urgent-foreground: #FCA8A6;

alternate-active-background: #5D3C3A;
alternate-active-foreground: #FCA8A6;
alternate-normal-background: #160E0D;
alternate-normal-foreground: #FCA8A6;
alternate-urgent-background: #160E0D;
alternate-urgent-foreground: #FCA8A6;

selected-active-background: #BE3B3B;
selected-active-foreground: #FCA8A6;
selected-normal-background: #BE3B3B;
selected-normal-foreground: #FCA8A6;
selected-urgent-background: #BE3B3B;
selected-urgent-foreground: #FCA8A6;

background-color: #160E0D;
background: rgba(0,0,0,0.7);
foreground: #FCA8A6;
border-color: #BE3B3B;

color0: #423838;
color1: #543B3A;
color2: #543B3A;
color3: #543B3A;
color4: #9D3B3B;
color5: #9D3B3B;
color6: #C93D3A;
color7: #F37A77;
color8: #AA5554;
color9: #5D3C3A;
color10: #5D3C3A;
color11: #5D3C3A;
color12: #BE3B3B;
color13: #BE3B3B;
color14: #F70501;
color15: #F37A77;


}

